* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f84a2, #2e2d9d);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -80px; /* sobe todo o conteúdo */
}

.logo {
  width: 300px;
  max-width: 80%;
  margin-bottom: 2px; /* menor distância entre logo e botão */
}

.download-button {

  margin-top: -50px;
  display: flex;
  align-items: center;
  gap: 2px; /* botão mais próximo do ícone */
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.3s;
}

.download-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.apk-icon {
  width: 22px;
  height: 22px;
}
